.first{
    background-color: #9500ff;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    color: gold;
}
.second{
    background-color: black;
    text-decoration: underline;
    color: orange;
}
.third{
    background-color: lime;
    color: blue;
    font-size: 30px;
}

.fourth{
    background-color: orange;
    color: turquoise;
}